* {
  font-family: Arial, sans-serif;
}

.main-items {
  display: flex;
  justify-content: space-around;
  padding: 30px 30px;
  font-size: 30px;
  list-style-type: none;
}

header {
  background: rgba(6, 1, 66, 0.852);
  color: white;
}

header nav ul li {
  color: white;
}

footer p {
  color: white;
  vertical-align: middle;
  background: rgba(6, 1, 66, 0.852);
  padding: 30px 30px;
}

footer p a {
  color: rgb(255, 255, 255);
}
